<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container">
      <form action="/places/user/edit/<%= place_id %>?_method=PATCH" method="post" class="field" id="edit-item">
          <label class="label">Place</label>
          <div class="control">
            <input class="input" type="text" name="searchString" value="<%= searchString %>" autocomplete="off" disabled>
          </div> <br>
            <input type="hidden" name="searchString" value="<%= searchString %>">
            <input type="hidden" name="place_id" value="<%= place_id %>">
          <% if (visitedPlanned === "visited") { %>
          <div class="control select">
            <select name="visitedPlanned" id="visited-planned" onchange="toggleVisitedPlanned()">
              <option value="visited" selected>Visited</option>
              <option value="planned">Planned</option>
            </select>
          </div>
            <label class="label">Notes</label>
            <div class="control">
              <input class="textarea disable" type="text" name="notes" value="<%= notes %>"/>
            </div>   
            <label class="label visit">Date from</label>
            <div class="control visit">
              <input class="input disable" type="month" name="dateFrom" value="<%= dateFrom %>"/>
            </div>
            <label class="label visit">Date to</label>
            <div class="control visit">
              <input class="input disable" type="month" name="dateTo" value="<%= dateTo %>"/>
            </div>
            <label class="label visit">Rating</label>
            <div class="control visit">
              <input class="text disable" type="number" min="1" max="5" name="rating" value="<%= rating %>"/>
            </div>
          <% } else { %>
            <div class="control select">
              <select name="visitedPlanned" id="visited-planned" onchange="toggleVisitedPlanned()">
                <option value="visited">Visited</option>
                <option value="planned" selected>Planned</option>
              </select>
            </div>
            <label class="label">Notes</label>
            <div class="control">
              <input class="textarea disable" type="text" name="notes" value="<%= notes %>"/>
            </div>
            <label class="label">Date from</label>
            <div class="control">
              <input class="input disable" type="month" name="dateFrom" disabled/>
            </div>
            <label class="label">Date to</label>
            <div class="control">
              <input class="input disable" type="month" name="dateTo" disabled/>
            </div>
            <label class="label">Rating</label>
            <div class="control">
              <input class="text disable" type="number" min="1" max="5" name="rating" disabled/>
            </div>
          <% } %>      
      </form>  
      <br>
      <div class="control">
        <input class="button" type="submit" value="Submit" form="edit-item">
        <a href="/places/user/<%= place_id %>"><input class="button" value="Cancel"></a>
      </div>
    </div> 
  </div>
</div>
<%- include("../partials/footer.ejs") %>