<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container">
      <table class="table">
        <tbody>
            <tr>
                <th>Country</th>
                <td><%= place.countryName %></td>
            </tr>
            <tr>
                <th>Locality</th>
                <td><%= place.locality %></td>
            </tr>
            <tr>
                <th>Landmark</th>
                <td><%= place.landmark %></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><%= place.visitedPlanned.charAt(0).toUpperCase() + place.visitedPlanned.slice(1) %></td>
            </tr>
        </tbody>
      </table>
      <form action="/places/edit/<%= place._id %>?_method=PATCH" method="post" class="field" id="edit-item">
        <% if (place.visitedPlanned === "visited") { %>
          <label class="label">Date from</label>
          <div class="control">
            <input class="input" type="date" name="dateFrom" value="<%= place.dateFrom %>"/>
          </div>
          <label class="label">Date to</label>
          <div class="control">
            <input class="input" type="date" name="dateTo" value="<%= place.dateTo %>"/>
          </div>
          <label class="label">Rating</label>
          <div class="control">
            <input class="text" type="number" min="1" max="5" name="rating" value="<%= place.rating %>"/>
          </div>
          <label class="label">Notes</label>
          <div class="control">
            <input class="textarea" type="text" name="notes" value="<%= place.notes %>"/>
          </div>
        <% } else { %>
          <label class="label">Notes</label>
          <div class="control">
            <input class="textarea" type="text" name="notes" value="<%= place.notes%> "/>
          </div>
        <% } %> 
      </form>  
      <br>
      <div class="control">
        <input class="button" type="submit" value="Submit" form="edit-item">
        <a href="/places/<%= place._id %>"><input class="button" value="Cancel"></a>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>