<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<script src="/js/maps.js"></script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMiniMap' async defer></script>
<div class="hero-body is-align-items-start">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div style="height: 40vh;">
                    <div id="my-mini-map"></div>
                </div>
            </div>
            <div class="column is-flex is-flex-direction-column">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Place</th>
                            <td><%= searchString %></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td><%= visitedPlanned.charAt(0).toUpperCase() + visitedPlanned.slice(1) %></td>
                        </tr>
                        <% if (visitedPlanned === "visited") { %>
                            <tr>
                                <th>Date From</th>
                                <td><%= dateFrom %></td>
                            </tr>
                            <tr>
                                <th>Date To</th>
                                <td><%= dateTo %></td>
                            </tr>
                            <tr>
                                <th>Rating</th>
                                <td><%= rating %></td>
                            </tr>
                            <tr>
                                <th>Notes</th>
                                <td><%= notes %></td>
                            </tr>
                        <% } else { %>
                            <tr>
                                <th>Notes</th>
                            <td><%= notes %></td>
                        </tr> 
                        <% } %> 
                    </tbody>
                  </table>
                  <div>
                    <a class="button" href="/places/user/edit/<%= place_id %> ">Edit</a>
                    <a class="button" href="/places/user/delete/<%= place_id %> ">Delete</a>
                    <a class="button" href="/users/home">Back</a>  
                  </div>
                  <% if (visitedPlanned === "planned") { %>
                    <div
                      data-skyscanner-widget="SearchWidget"
                      data-locale="en-GB"
                      data-market="SG"
                      data-currency="SGD"
                      data-destination-name="India"
                    ></div>
                    <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
                  <% } %>
            </div>
        </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>