<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<script src="/js/maps.js"></script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMiniMap' async defer></script>
<div class="hero-body is-align-items-start">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div id="my-mini-map"></div>
            </div>
            <div class="column is-flex is-flex-direction-column">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Locality</th>
                            <td><%= locality %></td>
                        </tr>
                        <tr>
                            <th>Landmark</th>
                            <td><%= landmark %></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td><%= visitedPlanned.toUpperCase() %></td>
                        </tr>
                        <tr>
                            <th>Notes</th>
                            <td><%= notes %></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a class="button" href="#">Edit</a>
                    <a class="button" href="#">Delete</a> 
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>