<table class="table">
  <tbody>
      <tr>
          <th>Place</th>
          <td><%= userPlace.place %></td>
      </tr>
      <tr>
          <th>Status</th>
          <td><%= userPlace.visitedPlanned.visitedPlanned.charAt(0).toUpperCase() + visitedPlanned.slice(1) %></td>
      </tr>
      <% if (userPlace.visitedPlanned.visitedPlanned === "visited") { %>
          <tr>
              <th>Dates</th>
              <td><%= `${userPlace.visitedPlanned.dateFrom} to ${userPlace.visitedPlanned.dateTo}` %></td>
          </tr>
          <tr>
              <th>Rating</th>
              <td><%= userPlace.visitedPlanned.rating %></td>
          </tr>
          <tr>
              <th>Notes</th>
              <td><%= userPlace.visitedPlanned.notes %></td>
          </tr>
      <% } else { %>
          <tr>
              <th>Notes</th>
          <td><%= userPlace.visitedPlanned.notes %></td>
      </tr> 
      <% } %> 
  </tbody>
</table>
<div>
  <a class="button" href="/places/edit/<%= _id %> ">Edit</a>
  <a class="button" href="/places/delete/<%= _id %> ">Delete</a>
  <a class="button" href="/users/home">Back</a>  
</div>
<% if (userPlace.visitedPlanned.visitedPlanned === "planned") { %>
  <div
    data-skyscanner-widget="SearchWidget"
    data-locale="en-GB"
    data-market="SG"
    data-currency="SGD"
    data-destination-name="India"
  ></div>
  <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
<% } %>
