<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
<script src="/js/maps.js"></script>
<div class="hero-body is-align-items-start">
    <div class="container">
      <div class="is-flex is-justify-content-center">
        <div id="my-map"></div>
      </div>
      <div class="is-flex is-justify-content-center">
        <nav class="panel mt-3" id="panel-block">
          <p class="panel-tabs">
            <a class="is-active">All</a>
            <a>Visited</a>
            <a>Planned</a>
          </p>
          <% visited.forEach(element => { %>
            <a class="panel-block is-active visited" href="/places/<%= element[0]._id %>">
              <%= element[1].name %>
            </a>
          <% }) %>
          <% planned.forEach(element => { %>
            <a class="panel-block is-active planned" href="/places/<%= element[0]._id %>">
              <%= element[1].name %>
            </a>
          <% }) %>
        </nav>
      </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>