<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
        <% if (!errorData) { %>
          <form action="/register" method="post">
            <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name">
            </div>
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email">
            </div>
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password">
            </div>
            <label class="label">Confirm password</label>
            <div class="control">
              <input class="input" type="password" name="confirmPassword">
            </div> <br>
            <div class="control">
              <button class="button is-link is-light" type="submit">Submit</button>
            </div>
          </div> 
        </form>
        <% } else { %>
          <form action="/register" method="post">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" name="name" value="<%= errorData.name %>">
              </div>
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" name="email" value="<%= errorData.email %>">
              </div>
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" name="password">
              </div>
              <label class="label">Confirm password</label>
              <div class="control">
                <input class="input" type="password" name="confirmPassword">
              </div> <br>
              <div class="control">
                <button class="button is-link is-light" type="submit">Submit</button>
              </div>
          </div> 
        </form>
        <ul class="mt-3" id="errors">
          <% errorData.errMsg.forEach(message => { %>
            <li class="has-text-danger"><%= message %></li>
          <% }) %>
        </ul>
        <% } %> 
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>